.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  text-align: center;
}

footer {
  text-align: center;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.country-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
